<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="container">
        <a class="navbar-brand">
            <img src="https://cdn.svgporn.com/logos/amazon-chime.svg" width="30" height="30" alt="">
        </a>

    </div>
</nav>
<div class="container">
<div class="row justify-content-center">
<table class="table table-striped"  style="color: wheat;">
  <thead>
  <tr>
    <th scope="col">Nombre</th>
    <th scope="col" sortable="name" >Correo</th>
    <th scope="col" sortable="area">Agregar</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of users">
    <th scope="row">{{item.nombreUsuario }}</th>
    <td>
      <img
        [src]="item.fotoperfil"
        class="me-2"
        style="width: 20px"
      />
      {{ item.correo }}
    </td>
    <td><button  type="submit" class="btn btn-outline-info btn-block">Agregar Amigo</button></td>
  </tr>
  </tbody>
</table>
</div>
</div>
