<nav class="navbar navbar-expand-lg navbar-dark bg-dark nav-pills nav-fill">
    <div class="container">
        <img src="https://cdn.svgporn.com/logos/amazon-chime.svg" width="30" height="30" alt="">

        <div>
            <button (click)="createPost()"
                    class="btn btn-outline-success me-md-2"
                    type="submit"
                    style="position: relative;">
                    Post photos
            </button>

            <button (click)="goPageProfile()"
                    class="btn btn-outline-primary me-md-2"
                    type="submit"
                    style="position: relative;">
                    Profile
            </button>

            <button (click)="singOut()"
                    class="btn btn-outline-danger me-md-2"
                    type="submit"
                    style="position: relative;">
                    Sing out
            </button>
        </div>
    </div>
</nav>
<h1 style="text-align: center;  color: white;">Post</h1>
<!---->
<div class="container mt-5 d-grid gap-2  mx-auto">
    <div class="row justify-content-center">
        <div class="col-3" style="color: white; align-items: center;">
            <div class="container d-grid gap-2  mx-auto ">
                <div class="row justify-content-center">

                </div>
            </div>
        </div>
        <div class="col-8">
            <form>
                <div class="row">
                    <div class="col-1">
                        <label style="color: turquoise;">Nombre</label>
                    </div>

                    <div class="col-7">
                        <input
                            [(ngModel)]="comment"
                            name="comment"
                            type="text"
                            class="form-control"
                            id="floatingTextarea"
                            style="background-color: black; color: white;">
                    </div>
                </div>

                <br>
                <div class="row">
                    <div class="col-1">
                        <label style="color: turquoise;">Descripcion</label>
                    </div>
                    <div class="col-7">
                        <input [(ngModel)]="tags"
                        name="tags"
                        type="text"
                        class="form-control"
                        style="background-color: black; color: white;">
                    </div>
                </div>

                <br>
                <div class="col-8">
                    <div class="mb-3">
                        <label for="formFileSm" class="form-label" style="color: rgb(165, 250, 253);">Add image</label>
                        <input (change)="getPicture($event)" class="form-control form-control-sm" id="formFileSm"
                            type="file">
                    </div>
                </div>
                <br>
                <div class="col-8">
                    <div *ngIf="previsualizacion" class="card" style="width: auto;">
                        <img [src]="previsualizacion" class="card-img-top" alt="">
                    </div>
                </div>
                <br>

              <br>
              <div class="d-grid gap-2">
                <button (click)="createPost()" type="submit" class="btn btn-primary btn-block ">Create Post</button>
              </div>
                <br>
            </form>
        </div>
    </div>
</div>
