<nav class="navbar navbar-expand-lg navbar-dark bg-dark nav-pills nav-fill">
    <div class="container">
        <img src="https://cdn.svgporn.com/logos/amazon-chime.svg" width="50" height="50" alt="">
        <div>
            <input [(ngModel)]="search" name="search" type="text" class="form-control"
                style="background-color: black; color: white;" placeholder="Search">
        </div>
        <div>
            <button (click)="searchPost()" class="btn btn-outline-warning me-md-2" type="submit" style="position: relative;">Search</button>
            <button (click)="goPagePost()" class="btn btn-outline-success me-md-2" type="submit" style="position: relative;">create post</button>
            <button (click)="goPageUpdateInfo()" class="btn btn-outline-primary me-md-2" type="submit" style="position: relative;">Update information</button>
            <button (click)="singOut()" class="btn btn-outline-danger me-md-2" type="submit" style="position: relative;">Sing out</button>

        </div>
    </div>
</nav>

<!---->
<div class="container mt-5 d-grid gap-2  mx-auto ">
    <div class="row justify-content-center">
        <!-- MAS OPCIONES -->
        <div class="col-2" style="color: white; align-items: center;">
            <div class="container d-grid gap-2  mx-auto ">
              <div class="row justify-content-center">
                <button  (click)="filterLabel2()" type="submit" class="btn btn-outline-info btn-block">Todo</button>
              </div>
                <div class="row justify-content-center" *ngFor="let item of listLabels">
                    <button  (click)="filterLabel(item.Item)" type="submit" class="btn btn-outline-info btn-block">{{item.Item}}</button>
                </div>
            </div>
        </div>
      <div class="col-8" style="color: white; align-items: center;" *ngIf="visible2">
        <div class="container">
          <div class="row justify-content-center" *ngFor="let item of listPost">
            <div class="card bg-light mb-3" *ngIf="item.Label == flag">
              <div class="card-header" style="color: black;">
                <div class="row">
                  <div class="col-2">
                    <img [src]="getImage()" class="card-img-top" style="min-width: 50px;  min-height: 50px;" alt="">
                  </div>
                  <div class="col">
                    <div>{{this.serviceU.getName()}}</div>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <img [src]="item.URL" class="card-img-top" alt="">
              </div>
              <div class="card-footer" style="color: black;">
                <div>{{item.Descripcion}}</div>
              </div>
            </div>

            <br>
          </div>
        </div>
      </div>
        <!-- PUBLICACIONES -->
        <div class="col-8" style="color: white; align-items: center;" *ngIf="visible">
            <div class="container">
                <div class="row justify-content-center" *ngFor="let item of listPost">
                    <div class="card bg-light mb-3">
                        <div class="card-header" style="color: black;">
                            <div class="row">
                                <div class="col-2">
                                    <img [src]="getImage()" class="card-img-top" style="min-width: 50px;  min-height: 50px;" alt="">
                                </div>
                                <div class="col">
                                    <div>{{this.serviceU.getName()}}</div>
                                </div>
                            </div>
                            </div>
                        <div class="card-body">
                            <img [src]="item.URL" class="card-img-top" alt="">
                        </div>
                        <div class="card-footer" style="color: black;">
                            <div>{{item.Descripcion}}</div>
                        </div>
                      <div class="row justify-content-center">
                        <button  (click)="TraducirIngles_Espaol(item.Descripcion)" type="submit" class="btn btn-outline-info btn-block">TraducirIngles_Español</button>
                        <button  (click)="TraducirEspaol_Ingles(item.Descripcion)" type="submit" class="btn btn-outline-info btn-block">TraducirEspañol_Ingles</button>
                        <button  (click)="TraducirEspaol_Aleman(item.Descripcion)" type="submit" class="btn btn-outline-info btn-block">TraducirEspañol_Frances</button>
                      </div>
                      <div class="card-footer" style="color: black;" *ngIf="visibleTrad">
                        <div>{{dataTrad}}</div>
                      </div>
                    </div>

                    <br>
                </div>
            </div>
        </div>
        <br>
      <!-- CONECTADOS -->
        <div class="col-2" style="color: white; align-items: center;">
            <div class="container">
                <div class="row justify-content-center">aqui 1</div>
                <div class="row justify-content-center">aqui 2</div>
                <div class="row justify-content-center">aqui 3</div>
            </div>
        </div>
    </div>
</div>
